<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.pde.ui.EquinoxLauncher">
<booleanAttribute key="append.args" value="true"/>
<booleanAttribute key="automaticAdd" value="false"/>
<booleanAttribute key="automaticValidate" value="true"/>
<stringAttribute key="bootstrap" value=""/>
<booleanAttribute key="clearConfig" value="true"/>
<stringAttribute key="configLocation" value="${workspace_loc}/../PM Swing OSGi Demo"/>
<booleanAttribute key="default_auto_start" value="true"/>
<intAttribute key="default_start_level" value="4"/>
<booleanAttribute key="includeOptional" value="false"/>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JAVA_COMMAND" value="java"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-os ${target.os} -arch ${target.arch} -nl ${target.nl} -console"/>
<stringAttribute key="org.eclipse.jdt.launching.SOURCE_PATH_PROVIDER" value="org.eclipse.pde.ui.workbenchClasspathProvider"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Declipse.ignoreApp=true -Dosgi.noShutdown=true"/>
<stringAttribute key="pde.version" value="3.3"/>
<booleanAttribute key="show_selected_only" value="false"/>
<stringAttribute key="target_bundles" value="org.springframework.bundle.osgi.io@default:default,org.springframework.bundle.spring.context@default:default,org.eclipse.osgi.services@default:default,org.springframework.bundle.spring.core@default:default,slf4j.api@default:default,org.ops4j.peaberry@default:default,org.springframework.bundle.osgi.extender@default:default,org.springframework.bundle.spring.aop@default:default,com.google.inject@default:default,org.eclipse.equinox.launcher@default:default,org.eclipse.equinox.ds@default:default,org.springframework.bundle.osgi.core@default:default,com.springsource.slf4j.log4j@default:default,org.springframework.osgi.log4j.osgi@default:default,org.springframework.bundle.spring.beans@default:default,org.eclipse.equinox.util@default:default,com.springsource.slf4j.api@default:default,com.springsource.slf4j.org.apache.commons.logging@default:default,com.springsource.org.aopalliance@default:default,org.eclipse.osgi@:,slf4j.simple@default:false"/>
<booleanAttribute key="tracing" value="false"/>
<booleanAttribute key="useDefaultConfigArea" value="false"/>
<stringAttribute key="workspace_bundles" value="com.siemens.ct.pm.extender@default:default,com.siemens.ct.pm.ui.views.treeview.ds@default:default,com.siemens.ct.pm.model.basic@default:default,com.siemens.ct.pm.ui.actions.vcard@default:default,com.siemens.ct.pm.application@default:default,com.siemens.ct.pm.ui.views.bundleview@default:default,com.siemens.ct.pm.model.minimal@default:default,com.siemens.ct.pm.ui.views.treeview.dm@default:default,com.siemens.ct.pm.ui.views.tableview.ds@default:default,com.siemens.ct.pm.ui.actions.person@default:default,com.siemens.ct.pm.model@default:default,com.siemens.ct.pm.ui.actions.save@default:default,org.jdesktop.application@default:default,com.siemens.ct.pm.ui.views.treeview.pb@default:default,com.siemens.ct.pm.log4j@default:false"/>
</launchConfiguration>
